<div class="record-findings-list">

    <mat-chip-listbox class="mat-chip-list-wrapper record-findings-row-wrapper"
                        [multiple]="true">
            <mat-chip-option class="findings-chip">BBB</mat-chip-option>
            <mat-chip-option class="findings-chip" selected>EAR</mat-chip-option>
            <mat-chip-option class="findings-chip">1st Degree</mat-chip-option>
            <mat-chip-option class="findings-chip">Option 4</mat-chip-option>

            <mat-chip-option class="findings-chip">Option 5</mat-chip-option>
            <mat-chip-option class="findings-chip">Option 6</mat-chip-option>
            <mat-chip-option class="findings-chip">Option 7</mat-chip-option>
            <mat-chip-option class="findings-chip">Option 8</mat-chip-option>
    </mat-chip-listbox>

</div>
