
.leave-modal {
    padding: 40px;
    width: 544px;
    height: 251px;
}

.leave-title{
    font-family: SoehneWebKraftig;
    font-size: 20px;
}

.leave-text{
    margin-bottom: 37px;
}

mat-dialog-actions{
    padding: 0;
}
