<div class="productivity-dashboard-container">
    <div class="records-completed-container">
        <mat-icon svgIcon="icon-completed-outline-heavy-medium-midnight"></mat-icon> &nbsp; Records Completed: &nbsp; <div class="text-bold"> {{recordsCompleted}} </div>
    </div>

    <div class="total-review-time-container">
        Total Review Time: &nbsp; <div class="text-bold"> {{totalReviewTime}} </div>
    </div>

    <div class="average-time-container">
        Average Time Per Record: &nbsp; <div class="text-bold"> {{averageTimePerRecord}} </div>
    </div>
</div>
