.table-font {
    font-family: "DIN Next W01 Regular", Arial, sans-serif;
    size: 16px;
}

.in-progress-table {
    width: 1500px;
}

.mat-table{
    border-radius: 8px;
    overflow:hidden;
}

.in-progress-options {
    gap: 5px;
    display: flex;
    align-items: center;
}



.options-menu-trigger {
    background: none;
}





