@import '../../../../sass/config/_settings.scss';

.undo-dialog{

    .undo-dialog-title{
        margin-top: 0;
        font-family: SoehneWebKraftig;
        line-height: 26px;
    }

    .undo-dialog-ol{
        padding-left:16px;
        margin-top:0;
        margin-left: 10px;
    }

    .undo-dialog-content{
        color: $gray700;
    }
}


::ng-deep {
    .mat-mdc-dialog-container .mdc-dialog__content {
        padding-top: 0;
        font-family: SoehneWebLeicht;
        line-height: 150%;
        font-size:  16px;
    }
}
